POSTGRES_URL="postgres://default:HIJdqMb5n8ew@ep-late-recipe-769005-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:HIJdqMb5n8ew@ep-late-recipe-769005-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:HIJdqMb5n8ew@ep-late-recipe-769005.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-late-recipe-769005-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="HIJdqMb5n8ew"
POSTGRES_DATABASE="verceldb"
CLOUD_NAME="dfbr5mjoh"
CLOUDINARY_API_KEY="737781757523851"
CLOUDINARY_API_SECRET="juZQ73fdJwSeIt-_11zZ7C6dJRM"
CLOUDINARY_FOLDER="vercel"
APP_PORT=3000